__pycache__/
*.py[cod]
*.pyc
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/
.hypothesis/
.coverage
.coverage.*
coverage.xml
htmlcov/
.mutmut-cache/
.tox/
.nox/
.venv/
venv/
*.egg-info/
dist/*.zip
dist/*.tmp
